body {
    font-family: "Nunito", "Varela Round", "Quicksand", system-ui, sans-serif;
    background: #EEF3FF;
}

h1 {
    text-align: center;
    font-size: 45px;

}

.game-container {
    background-color: #CFE0F5;
    border-radius: 10px;
    width: 30%;
    margin: 10px auto;
    padding: 10px;

}

.board-container table {
    margin: 0 auto;
    border-spacing: 6px;
    border-collapse: separate;
}

.cell {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
}


.btns-container {
    margin: 20px auto;
    text-align: center;

}

.btns-container button {
    font-family: "Gisha", sans-serif;
    font-size: 25px;
}

.revealed {
    /* background-color: #EAF1FF; */
    cursor: default;
    background-color: #a0b2d6;
    /* background-color:#a1afcb; */
}

.num-1 {
    background-color: #2aa8ff;
    color: #ffffff;
}

.num-2 {
    background-color: #ffcc33;
    color: #ffffff;
}

.num-3 {
    background-color: #ff4fa3;
    color: #ffffff;
}

.num-4 {
    background-color: #7b61ff;
    color: #ffffff;
}

.num-5 {
    background-color: #ff7a3d;
    color: #ffffff;
}

.num-6 {
    background-color: #27c7b8;
    color: #ffffff;
}

.num-7 {
    background-color: #1b1b1b;
    color: #ffffff;
}

.num-8 {
    background-color: #6b6b6b;
    color: #ffffff;

}

.mine {
    background-color: #ff5858;
}

.game-settings {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 15px;
    margin-top: 7px;
}

.flag-count,
.timer {
    width: 100px;
    height: 50px;
    display: flex;
    text-align: center;
    font-size: 22px;
    /* background-color: #CCDDEE; */
    border-radius: 300px;
    justify-content: center;
    align-items: center;
    background: #ffffffa6;
    border: 2px solid #ffffffe6;
}

.smiley {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 0;
}

.btns-container button {
    font-size: 24px;
    background-color: #434b7a;
    border: none;
    cursor: pointer;
    border-radius: 300px;
    font-family: "Nunito", "Varela Round", "Quicksand", system-ui, sans-serif;
    padding: 10px;
    color: #EEF3FF;
    margin: 0 8px;
}

.app-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}