body{
       font-family: "Gisha", sans-serif;
}

h1 {
    text-align: center;
}

table {
    margin: 0 auto;
    border:4px solid rgb(121, 121, 121);
    border-collapse: collapse;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    padding: 10px;
    border: 3px solid rgb(121, 121, 121);
}

td{
    background-color: lightgray;
}

.board-container {
    border-collapse: collapse;
}