body {
    font-family: "Gisha", sans-serif;
}

h1 {
    text-align: center;
        font-size: 45px;

}

table {
    margin: 0 auto;
    border: 4px solid rgb(121, 121, 121);
    border-collapse: collapse;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    padding: 10px;
    border: 3px solid rgb(121, 121, 121);
}

td {
    background-color: lightgray;
}

.board-container {
        border-collapse: collapse;

}

.btns-container {
    margin: 30px auto;
    text-align: center;

}

.btns-container button{
  font-family: "Gisha", sans-serif;
  font-size: 25px;
}
.revealed {
    border: 2px solid rgb(121, 121, 121);
    background-color: rgb(172, 172, 172);
}

.mine {
    background-color: rgb(255, 88, 88);
}

.game-settings{
  text-align: center;
  align-items: center;
margin-bottom: 20px;
}

.flag-count, .smiley, .timer{
  width: 100px;        
  text-align: center;
  font-size: 24px;
    background-color: lightgray;
  border-radius: 8px;
  display: inline-block;
 
}

.app-footer{
  margin-top: 20px;
  text-align: center;
  font-family: "Gisha", sans-serif;
  font-size: 16px;
}